.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 3rem;

  &__heading-main {
    font-family: "Playfair Display", sans-serif;
    font-size: 3.5rem;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__heading-sub {
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__box-card:not(:last-child) {
    margin-right: 14rem;
  }

  &__text {
    color: $color-white;
    font-size: 1.3rem;
    line-height: 1.6;

    @include respond(tab-land) {
      font-size: 1.1rem;
    }
  }

  &__copyright {
    color: $color-white;
    word-spacing: 0.2rem;
    margin: 8rem 0 2rem 0;
  }
}
