.navigation {
  position: relative;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8rem;
    border-top: 1px solid rgba($color-navy-blue, 0.3);
    border-bottom: 1px solid rgba($color-navy-blue, 0.3);
    @include respond(phone) {
      border: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__logo-box {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 8rem;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      margin-left: 0;
    }
  }

  &__logo {
    height: 5rem;
    width: 5rem;
    margin-right: 3rem;
    transform: scale(1.6);

    @include respond(phone) {
      transform: scale(1.4);
      margin: 0;
    }
  }

  &__logo-text {
    font-size: 1.8rem;
    font-weight: 800;
    font-family: "Playfair Display", sans-serif;
    color: $color-navy-blue;
    @include respond(phone) {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }

  &__logo-text:active,
  &__logo-text:hover {
    color: $color-navy-blue;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include respond(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
