.navigation {
  position: relative;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8rem;
    border-top: 1px solid rgba($color-navy-blue, 0.3);
    border-bottom: 1px solid rgba($color-navy-blue, 0.3);
    @include respond(phone) {
      border: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 10rem;
    right: 6rem;
    border-radius: 50%;
    text-align: center;
    z-index: 200;
    cursor: pointer;
  }

  &__checkbox {
    display: none;
  }

  &__logo-box {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 8rem;

    @include respond(phone) {
      display: flex;
      align-self: start;
      align-items: center;
      margin: 0 0 3rem 5rem;
    }
  }

  &__logo {
    height: 5rem;
    width: 5rem;
    margin-right: 3rem;
    transform: scale(1.6);

    @include respond(phone) {
      transform: scale(1.4);
      margin: 0;
    }
  }

  &__logo-text {
    font-size: 1.8rem;
    font-weight: 800;
    font-family: "Playfair Display", sans-serif;
    color: $color-navy-blue;
    @include respond(phone) {
      font-size: 2rem;
      margin-left: 2rem;
    }
  }

  &__logo-text:active,
  &__logo-text:hover {
    color: $color-navy-blue;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include respond(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      z-index: -1;
    }
  }
  &__checkbox:checked ~ &__list {
    opacity: 1;
    z-index: 150;
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    top: 25%;
    transition: all 0.8s;
  }

  &__icon {
    position: relative;
    margin-top: 3.3rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-navy-blue;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
