.heading-primary {
  display: flex;
  flex-direction: column;
  &__main {
    font-family: "Playfair Display", sans-serif;
    font-size: 4.5rem;
    color: $color-navy-blue;
    margin-bottom: 1rem;
  }

  &__sub {
    font-family: "Roboto";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    color: $color-navy-blue;
  }
}

.heading-secondary {
  font-family: "Playfair Display", sans-serif;
  font-size: 3rem;
  color: $color-navy-blue;
  display: flex;
  flex-direction: column;
  line-height: 1.5;

  @include respond(phone) {
    font-size: 2.3rem;
  }

  &__small {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__news {
    font-family: "Playfair Display", sans-serif;
    font-size: 4.5rem;
    color: $color-navy-blue;
    margin-bottom: 1rem;

    @include respond(phone) {
      font-size: 3rem;
      text-align: center;
    }
  }
}

.heading-tertiary {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.1rem;
  color: $color-navy-blue;

  &--left {
    margin: 7rem 0 2rem 5rem;

    @include respond(phone) {
      margin: 2rem 0;
      text-align: center;
    }
  }
  &--right {
    margin: 4rem 0 2rem 5rem;

    @include respond(phone) {
      margin: 2rem 0;
      text-align: center;
    }
  }
}
