.administration {
  &__container {
    display: flex;
    border: 1px solid rgba($color-navy-blue, 0.3);
    position: relative;

    @include respond(tab-land) {
      margin-bottom: 5rem;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__heading-box {
    padding: 0 5.2rem;
    margin-bottom: 2rem;
  }

  &__box-white {
    flex-basis: 30%;
  }

  &__text-box-left {
    display: flex;
    flex-direction: column;
    margin: 0 0 5rem 5rem;
  }

  &__text {
    line-height: 1.5;
  }

  &__box-gray {
    background-color: rgba($color-white-gray, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 70%;
    top: 3rem;
    right: -3rem;

    @include respond(phone) {
      position: static;
      padding: 3rem 0;
    }
  }

  &__text-box-right {
    display: flex;
    margin-left: 5rem;
  }

  &__text-gray {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
  }

  &__text-gray:last-child {
    margin-left: 10rem;
  }
}
