.btn {
  &-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
  }

  &__header {
    font-family: sans-serif;
    color: $color-white;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 0.7rem 1.5rem;
    display: inline-block;
    border-radius: 0 0 0.4rem 0.4rem;
    margin-right: 1rem;
    transition: all 0.3s;

    @include respond(phone) {
      padding: 1.2rem 2rem;
      font-size: 1.6rem;
      font-weight: 700;
    }

    &--orange:link,
    &--orange:visited {
      text-decoration: none;
      background-color: $color-orange;
    }

    &--orange:hover,
    &--orange:active {
      background-color: darken($color-orange, 15%);
    }

    &--navy-blue:link,
    &--navy-blue:visited {
      text-decoration: none;
      background-color: $color-navy-blue;
    }

    &--navy-blue:hover,
    &--navy-blue:active {
      background-color: lighten($color-navy-blue, 15%);
    }
  }

  &__events-orange:link,
  &__events-orange:visited {
    text-decoration: none;
    font-weight: 500;
    background-color: $color-orange;
    color: $color-white;
    border-radius: 0.2rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: all 0.3s;

    @include respond(phone) {
      margin-top: 0.5rem;
      margin-left: 5rem;
    }
  }

  &__events-orange:hover,
  &__events-orange:active {
    background-color: darken($color-orange, 15%);
  }

  &__button-box {
    display: flex;
    margin-bottom: 2rem;
    margin-left: -0.5rem;
  }

  &__arrow:link,
  &__arrow:visited {
    @include btn-arrow($color-orange, 700);
    transition: all 0.3s;
  }

  &__arrow:hover {
    transform: translateY(-0.2rem);
    background-color: $color-orange;
    color: $color-white;
    padding: 0.5rem;
  }

  &__arrow:active {
    transform: translateY(0);
  }

  &__arrow:hover .events__icon {
    fill: $color-white;
  }

  &__arrow:hover .news__icon-arrow-right-small {
    fill: $color-white;
  }

  &__arrow:hover .history__icon {
    fill: $color-white;
  }

  &__arrow--big {
    @include btn-arrow($color-white, 500);
    font-size: 1.4rem;
  }

  &__arrow-blue:link,
  &__arrow-blue:visited {
    @include btn-arrow($color-navy-blue, 700);
    transition: all 0.3s;
  }

  &__arrow-blue:hover {
    transform: translateY(-0.2rem);
    background-color: $color-navy-blue;
    color: $color-white;
    padding: 0.5rem;
  }

  &__arrow-blue:active {
    transform: translateY(0);
  }

  &__download {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-navy-blue;
  }
}
