.dropdown {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  color: $color-navy-blue;

  @include respond(phone) {
    background-color: $color-navy-blue;
    color: $color-white;
    width: 100%;
    margin: 0;
    font-size: 1.7rem;
  }

  &:hover &__content {
    display: block;
  }

  &__item:link,
  &__item:visited {
    color: $color-white;
    text-decoration: none;
    display: block;
    padding: 1rem 2rem 1rem 1rem;
  }

  &__item:hover,
  &__item:active {
    background-color: $color-white;
    color: $color-navy-blue;
  }
}

.dropdown:hover .dropdown__button {
  background-color: $color-navy-blue;
  color: $color-white;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: $color-navy-blue;
  min-width: 19rem;
}

.dropdown__button {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-navy-blue;
    padding: 2rem 1rem;
    display: inline-block;

    @include respond(phone) {
      color: $color-white;
    }
  }

  &:hover,
  &:active {
    background-color: $color-navy-blue;
    color: $color-white;
  }
}
