.events {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin-bottom: 3rem;

    @include respond(phone) {
      justify-content: center;
      align-items: center;
    }
  }

  &__box {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 5rem;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  }

  &__box-1 {
    padding: 0 5rem;
    border-right: 1px solid rgba($color-navy-blue, 0.2);
    flex-basis: 30%;

    @include respond(phone) {
      border-bottom: 1px solid rgba($color-navy-blue, 0.2);
      border-right: none;
      width: 45%;
      padding: 0;
    }
  }

  &__box-2 {
    padding: 0 5rem;
    border-right: 1px solid rgba($color-navy-blue, 0.2);
    flex-basis: 30%;
    @include respond(phone) {
      border-bottom: 1px solid rgba($color-navy-blue, 0.2);
      border-right: none;
      width: 45%;
      padding: 0;
      margin-top: 2rem;
    }
  }

  &__box-3 {
    padding: 0 5rem;
    flex-basis: 30%;
    @include respond(phone) {
      border: none;
      width: 45%;
      padding: 0;
      margin-top: 2rem;
    }
  }

  &__text {
    &--bold {
      @include text-bold;
    }

    &--thin {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }
  }

  &__date {
    margin: 0.5rem 0 1.5rem 0;
    font-family: "Playfair Display", sans-serif;

    &--month {
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-navy-blue;
    }

    &--number {
      font-size: 2.5rem;
      color: $color-orange;
      margin-right: 0.5rem;
    }
  }

  &__icon {
    @include icon-arrow-right($color-orange);
  }
}
