.news {
  &__heading-box {
    min-height: 50vh;
    width: 91%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 2rem;
  }

  &__container {
    display: flex;
    justify-content: space-around;

    @include respond(tab-land) {
      justify-content: space-between;
      padding: 0 5rem;
    }
  }

  &__box-left {
    background-color: rgba($color-white-gray, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 38%;
    margin-bottom: 15.5rem;

    @include respond(tab-land) {
      flex-basis: 40%;
    }
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__text-box {
    padding: 4rem 6rem 0 6rem;
    margin-bottom: 6rem;

    @include respond(tab-land) {
      margin-bottom: 1rem;
    }
  }

  &__box-right {
    background-color: rgba($color-white-gray, 0.9);
    margin-right: 4rem;
    flex-basis: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15.5rem;

    @include respond(tab-land) {
      flex-basis: 40%;
      margin-right: 0;
    }
  }

  &__text {
    &--bold {
      @include text-bold;
      margin-bottom: 1rem;
    }

    &--thin {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }
  }

  &__date {
    font-size: 0.8rem;
    font-weight: 700;
    color: $color-navy-blue;
    margin-bottom: 1rem;
  }

  &__icon-arrow-right-small {
    @include icon-arrow-right($color-navy-blue);
  }

  &__icon-arrow-right-big {
    height: 1.6rem;
    width: 1.6rem;
    fill: $color-white;
    margin-left: 0.5rem;
  }

  &__btn-box-down {
    background-color: $color-orange;
    padding: 1.5rem 0 1.5rem 5rem;
    display: flex;
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.9rem;
  }

  &__icon-pdf {
    height: 1.7rem;
    width: 1.7rem;
    margin-right: 0.5rem;
  }

  &__icon-down {
    height: 1.1rem;
    width: 1.1rem;
    fill: $color-navy-blue;
    margin-right: 0.2rem;
  }

  &__text-ordinances {
    font-size: 1.1rem;
    line-height: 1.5;

    &--bold {
      font-weight: 700;
    }
  }

  &__download {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
  }
}
