.section-events {
  margin-top: 5rem;
}

.section-news {
  background-image: url(../img/house.jpg);
  min-height: 60vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.section-history {
  position: relative;
}

.section-gallery {
  background-color: $color-white-gray;
}

.section-administration {
  margin: 5rem 0 5rem 0;
}

.section-footer {
  background-image: linear-gradient(
      to top,
      (rgba($color-black, 0.8) 50%),
      (rgba($color-black, 0) 70%)
    ),
    url(../img/footer-img.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  display: flex;
  justify-content: center;
}
